.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #97bc62ff;
}

.input-container {
  margin-top: 2rem;
}

.input-container input {
  width: 16rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background-color: white;
  outline: none;
  color: black;
}

.day-month {
  color: #2c5f2d;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #fff;
}

.day-month span {
  /* margin: 0 2rem; */
  padding: 0.5rem 2rem;
}

.dates-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 8rem;
  gap: 1rem;
}

.date {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .dates-container {
    margin: 2rem 1rem;
    justify-content: center;
  }

  .date {
    width: 30%;
  }

  .input-container input {
    width: calc(100% - 4rem);
  }
}
